nav a{
    color: rgb(224, 104, 49);
}
nav a:hover{
    color: whitesmoke;
}
#content{
    margin-top: 3rem;
}
#content p{
    font-size: 1rem;
    color: whitesmoke;
    border: 3px double rgb(156, 7, 7);
    border-radius: 10%;
    background-color: rgb(221, 99, 28);
    opacity: 75%;
}