nav a{
    color: rgb(224, 104, 49);
}
nav a:hover{
    color: whitesmoke;
}
.btn{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#footer-info{
    margin-bottom: 5.5rem;
    color: black;
}
#petTable{
    background-color: rgb(221, 99, 28);
    opacity: 75%;
    table-layout: auto;
    width: 100%;
    display: block;
    justify-content: center;
    color: whitesmoke;
}
@media(min-width: 768px){
    #petTable{
        margin-left: 10rem;
    }
}
td{
    font-size: 1rem;
    border: 3px double rgb(156, 7, 7);
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 1rem;
}
thead{
    display: block;
    color: rgb(156, 7, 7);
    margin-left: .5rem;
}
th{
    font-size: 1rem;
    padding-right: 1.1rem;
}
#searchPet{
    margin-left: 1rem;
    padding-top: 1rem;
}
@media(min-width:768px){
    #searchPet{
        margin-left: 10rem;
    }
    thead{
        margin-left: 10.3rem;
    }
    th{
        padding-right: 1rem;
    }
    #th-age{
        padding-left: .6rem;
    }
    #th-price{
        padding-left: 3.5rem;
    }
}
.btn-success{
    color:  whitesmoke;
    background-color:  rgb(156, 7, 7);
    border: 2px solid rgb(221, 99, 28);
}
.btn-danger{
    background-color: rgb(156, 7, 7);
}
#register-dog{
    margin-left: 7.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    border: 5px rgb(224, 104, 49);
    border-style: double;
    border-radius: 20%;
}
@media(min-width:768px){
    #register-dog{
        width: 30%;
        margin-left: 31rem;
    }
}
